@charset "UTF-8";
/* CSS Document */

section:hover .zwei {
    transform: rotate(360deg);
  }

  .oben {
    transform: rotateX(90deg) translateY(-100px);
    transform-origin: top center;
  }
.box {
    background: #003366;
    padding: 24px;
    margin: 25%;
    border-radius: 4px;
}